#ErrorPage {
    width: fit-content;
    max-width: 1200px;
    margin: 40px auto 0px auto;

    overflow: hidden;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    #ErrorPage {
        width: 80vw;
    }
}
