footer {
    width: 80vw;
    margin: 0px auto 100px auto;

    overflow: hidden;
}

footer p {
    margin: 40px 10% 0px 10%;
}

#emailIcon {
    width: 10%;
    margin: 0px 45% 40px 45%;
}

#footbar {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px 40px 0px 40px;
}

.footbarCat {
    text-align: left;
}

.footbarCat * {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}