header {
    width: 80vw;
    height: 80px;
    margin: 0px auto 0px auto;

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

header img {
    height: 100%;
}

header a, header span {
    width: calc(80vw/6);
    margin: 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    transition-duration: 100ms;
    text-decoration: underline;
}

header span:hover,
header a:hover {
    background-color: #aaaaaa;
    transition-duration: 100ms;
}

@media only screen and (max-width: 800px) {
    header {
        width: 100vw;
        border-bottom: 1px solid black;
    }
    header * {
        display: none;
    }
    header *:first-of-type {
        display: initial;
        margin: auto;
    }
}

#categoryBox {
    width: 80vw;
    height: fit-content;
    z-index: 100;
    margin-left: 0%;
    padding: 0px;

    background-color: rgba(255,255,255,0.8);

    position: absolute;
    top: 80px;
}

#categoryBox a {
    text-align: left;
}

#categoryBox p {
    text-align: left;
    margin: 25px 0px 25px 80px;
}

header div {
    padding: 6px 0px 6px 0px;
    position: absolute;
    margin: 0px 0px 0px 0px;
    transition-duration: 500ms;
    width: 0px;
    height: 24px;
    background-color: white;
}

header .searchBar {
    width: calc(80vw - (80vw / 3));
}

input {
    width: 100%;
    padding: 0px;
    border: none;
}

.searchBar input {
    width: calc(100% - 40px);
    height: 24px;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    border: 1px solid grey;
}