#Home {
    width: 80vw;
    max-width: 1200px;
    margin: 40px auto 0px auto;

    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    #Home {
        width: 90%;
    }
}
@media only screen and (max-width: 800px) {
    #Home {
        width: 100%;
    }
}

#headlines {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50vh;
}

img {
    object-fit: cover;
}

#mainImage {
    height: 100%;
    width: 60%;
    object-fit: cover;
}

.sideImage {
    height: 50%;
    width: 40%;
    object-fit: cover;
}

@media only screen and (max-width: 800px) {
    #headlines {
        width: 100vw;
        height: fit-content;
        flex-direction: row;
    }
    #headlines * {
        width: 100%;
        height: 100%;
    }
}

#tagline {
    text-align: center;
}
@media only screen and (max-width: 800px) {
    #tagline {
        font-size: 6vw;
        margin: 20px 60px 20px 60px;
    }
}

#conveyor {
    width: 2000px;
    height: 150px;
    overflow-y: hidden;
}

@media only screen and (max-width: 800px) {
    #conveyor {
        display: none;
    }
}

.conveyorItem {
    width: 200px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
}

@keyframes slide {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -1540px;
    }
}

#conveyor:hover .conveyorItem {
    background-color: black;
    animation-play-state: paused;
}

.conveyorItem:hover {
    opacity: 0.5;
    cursor: pointer;
}

.first {
    animation: slide 30s linear infinite;
}

.standouts {
    margin: 40px 0px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.standouts span {
    width: 30%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 90% 10%;
}

@media only screen and (max-width: 1200px) {
    .standouts span:last-of-type {
        display: none;
    }
    .standouts span {
        width: 45%;
    }
}

@media only screen and (max-width: 800px) {
    .standouts {
        flex-wrap: wrap;
        margin: 0px 0px 0px 0px;
    }
    .standouts span {
        width: 100%;
        display: initial;
    }
    .standouts span:last-of-type {
        display: initial;
    }
    .standouts p {
        display: none;
    }
}

.standouts img {
    width: 100%;
    height: 100%;
    grid-column: span 2;
}

.standouts p {
    height: 20px;
}

.standouts p:first-of-type {
    width: 100%;
    text-align: left;
    margin: 10px 0px 0px 0px;
}
.standouts p:last-of-type {
    width: fit-content;
    text-align: right;
    margin: 5px 0px 0px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 5px 0px 5px;
}
.standouts p:last-of-type:hover{
    cursor: pointer;
}

#offer {
    margin: 40px 0px 0px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #e5e5bc;
}

#offer button {
    margin: 40px 0px 0px 0px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}

#offer p {
    margin: 0px;
    padding: 0px 60px 0px 60px;
    align-self: center;
    text-transform: uppercase;
    font-size: 26pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#offer img {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    #offer p, #offer button {
        font-size: 24pt;
    }
}

@media only screen and (max-width: 800px) {
    #offer {
        display: block;
        margin: 0px 0px 0px 0px;
    }
    #offer img {
        display: none;
    }
    #offer p {
        font-size: 4vw;
        margin: 0px 20px 0px 20px;
        padding: 50px 0px 50px 0px;
    }
    #offer button {
        font-size: 4vw;
    }
}